@model EcoMarketMVC.Models.SubCategoryProductViewModel
@{
    ViewBag.Title = ((Model.Subcategories.Count() > 0) ? Model.Subcategories.FirstOrDefault().Category.Name : "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="boxes">
    <div class="section_container">
        <div class="container">
            <h3 style="text-align:center">Kateqoriyalar</h3>
            <div class="row">
                @{int count = 1; }
                @if (Model.Subcategories.Count() == 0)
                {
                    <div class="alert alert-info font-weight-bold">Seçilmiş kateqoriya üzrə alt kateqoriya yoxdur.</div>
                }
                else
                {
                    foreach (var item in Model.Subcategories)
                    {
                        <div class="col-lg-4 box_col">
                            <div class="box">
                                <div class="box_image"><img src="~/assetsadmin/images/subcategory/@item.ImagePath" alt=""></div>
                                <div class="box_title trans_200"><a href="/home/products/@item.Id">@item.Name.ToUpper()</a></div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="products">
    <div class="section_container">
        <div class="container">
            <h3 style="text-align:center">Məhsullar</h3>
            <div class="row" style="margin-top:-8%">
                <div class="col">
                    <div class="products_container grid">
                        @if (Model.Products.Count() == 0)
                        {
                            <div class="alert alert-primary font-weight-bold">Seçilmiş kateqoriya üzrə məhsul tapılmadı.</div>
                        }
                        else
                        {
                            foreach (var item in Model.Products)
                            {
                                <div class="product grid-item @((item.IsHot) ? "hot" : "") @((item.IsSale) ? "sale" : "")">
                                    <div class="product_inner">
                                        <a href="/home/product/@item.Id">
                                            <div class="product_image">
                                                <img src="~/assets/upload_images/@item.ImageUrl" alt="@item.Name" height="200" width="500" style="object-fit:scale-down">
                                                <div class="product_tag">@((item.IsHot) ? "hot" : "") @((item.IsSale) ? "sale" : "")</div>
                                            </div>
                                        </a>
                                        <div class="product_content text-center">
                                            <div class="product_title"><a href="/home/product/@item.Id">@item.Name</a></div>
                                            <div class="product_price">@item.Price AZN <span>@((item.IsSale) ? (Convert.ToDouble(item.Price) * 0.2 + Convert.ToDouble(item.Price)).ToString() : "") @((item.IsSale) ? "AZN" : "")</span></div>
                                            <div class="product_button ml-auto mr-auto trans_200"><a href="/home/addtocart/@item.Id">səbətə əlavə et</a></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>