@model EcoMarketMVC.Models.Product
@{
    ViewBag.Title = "Düzəliş Məhsul";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <!-- Basic layout-->
        <form action="/admin/editproduct/@Model.Id" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Yeni Məhsul</h5>
                </div>
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">@TempData["Error"]</div>
                }
                <div class="panel-body">
                    <div class="form-group">
                        <label>Məhsul adı:</label>
                        <input type="text" class="form-control" name="Name" value="@Model.Name">
                    </div>
                    <div class="form-group">
                        <label>Məhsul qiyməti:</label>
                        <input type="number" step=".001" min="1" max="100000" class="form-control" name="Price" value="@Model.Price">
                    </div>
                    <div class="form-group">
                        <img src="~/assets/upload_images/@Model.ImageUrl" class="img-responsive" width="200" />
                        <label>Şəkil:</label>
                        <input type="file" class="file-styled" name="files" accept=".jpg,.png,.gif" multiple>
                        <span class="help-block">Qəbul edilən formatlar: gif, png, jpg. Şəklin maksimum ölçüsü 2Mb olmalıdır.</span>
                    </div>
                    <div class="form-group">
                        <label>Məhsul Açıqlama:</label>
                        <textarea name="description" id="desc" rows="4" cols="4">@Model.Description</textarea>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="form-check" name="ishot" checked="@Model.IsHot" value="@Model.IsHot.ToString().ToLower()" onclick="changevalue(this)" /> <span class="badge badge-danger" style="font-size:1.1em">Is Hot?</span>
                        <input type="checkbox" class="form-check" name="issale" checked="@Model.IsSale" value="@Model.IsSale.ToString().ToLower()" onclick="changevalue(this)" /> <span class="badge badge-primary" style="font-size:1.1em">Is Sale?</span>
                    </div>
                    <div class="form-group">
                        <label>Kateqoriya adı:</label>
                        <select name="Category_Id" class="form-control" style="font-size:1.1em" id="categories">
                            <option></option>
                            @foreach (var category in (List<EcoMarketMVC.Models.Category>)ViewBag.Categories)
                            {
                                if (Model.Subcategory.CategoryId == category.Id)
                                {
                                    <option value="@category.Id" selected>@category.Name</option>
                                }
                                else
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Kateqoriya adı:</label>
                        <select name="SubcategoryId" class="form-control" style="font-size:1.1em" id="subcategories">
                            <option value="@Model.SubcategoryId">@Model.Subcategory.Name</option>
                        </select>
                    </div>
                    <div class="text-left">
                        <button type="submit" class="btn btn-primary">Dəyiş</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- /basic layout -->
    </div>
</div>

<script>
    CKEDITOR.replace("desc");
</script>
<script>
    $("#categories").change(function () {
        var value = $(this).val();
        $.ajax({
            url: 'https://localhost:44370/admin/GetSubcategoriesByCategory/' + value,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $("#subcategories").html("");
                for (let i = 0; i < data.length; i++)
                    $("#subcategories").append("<option value=" + data[i].Id + ">" + data[i].Name + "</option>")

            },
            error: function () {
                console.error("Something went wrong");
                $("#subcategories").html("");
            }
        })
    })

    function changevalue(e) {
        if (e.value === "false") {
            $(e).val("true");
        }
        else {
            $(e).val("false");
        }
    }
</script>
