@model EcoMarketMVC.Identity.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panelə Giriş</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/assetsadmin/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/assetsadmin/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/assetsadmin/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/assetsadmin/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/assetsadmin/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/assetsadmin/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/assetsadmin/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/assetsadmin/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assetsadmin/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/assetsadmin/js/plugins/forms/styling/uniform.min.js"></script>

    <script type="text/javascript" src="~/assetsadmin/js/core/app.js"></script>
    <script type="text/javascript" src="~/assetsadmin/js/pages/login.js"></script>
    <!-- /theme JS files -->

</head>

<body class="login-container bg-slate-800">

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    <!-- Advanced login -->
                    <form action="/account/login" method="post">
                        <div class="panel panel-body login-form">
                            <input type="hidden" value="@ViewBag.returnUrl" name="returnUrl" />
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            <div class="text-center">
                                <div class="icon-object border-warning-400 text-warning-400"><i class="icon-people"></i></div>
                                <h5 class="content-group-lg">Hesaba daxil olma <small class="display-block">Giriş məlumatlarınızı daxil edin</small></h5>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "İstifadəçi adı" })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Şifrə" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn bg-blue btn-block">Daxil ol <i class="icon-circle-right2 position-right"></i></button>
                            </div>
                        </div>
                    </form>
                    <!-- /advanced login -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>
</html>

